<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<th:block th:replace="/partials/head"></th:block>
		<!-- <link rel="stylesheet" th:href="@{/resources/css/main.css}" /> -->
</head>
<body class="landing">

	<!-- Header -->
	<header th:replace="/partials/header" />

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner">
		<h2>Spatial</h2>
		<p>
			Lorem ipsum carrots no photography <br /> But sometimes live free Douce.
		</p>
		<ul class="actions">
			<li><a href="#" class="button special big">Get Started</a></li>
		</ul>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1">
		<div class="container 75%">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>Maecenas graduated mourning</h2>
						<p>Accepted encounter pain, pain</p>
					</header>
				</div>
				<div class="6u$ 12u$(medium)">
					<p>Lorem ipsum carrots, enhanced rebates. It is not that, this
						softness of the body, the distinction of the duties they are the
						pain of the truth, condemn deleniti the pleasures of the great of
						this world, at any time has pain was less, and that. Vel that do
						not! Which is itself to be a regular.</p>
					<p>Sorrows of the rejects most of all, indeed, the distinction
						between the freedom of reason, and decide to run away from the
						truth, are to be paid or, they shall neither toil of pleasures. By
						work of things, hateth the wise, a lot of them at another time is
						disgraceful cowardice, because of tomorrow and for the pleasure of
						extremely great exercise which the laborious modes of.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 special">
		<div class="container">
			<header class="major">
				<h2>Clinical ecological basketball</h2>
				<p>Lorem ipsum dolor elit feugiat eleifend</p>
			</header>
			<div class="row 150%">
				<div class="6u 12u$(xsmall)">
					<div class="image fit captioned">
						<img th:src="@{/resources/images/pic02.jpg}" alt="" />
						<h3>Lorem ipsum eu consumer technology deductible.</h3>
					</div>
				</div>
				<div class="6u$ 12u$(xsmall)">
					<div class="image fit captioned">
						<img th:src="@{/resources/images/pic03.jpg}" alt="" />
						<h3>Beyond all doubt, the greater the times of the cupid?</h3>
					</div>
				</div>
			</div>
			<ul class="actions">
				<li><a href="#" class="button special big">there is no
						grief</a></li>
				<li><a href="#" class="button big">However vulputate</a></li>
			</ul>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style1">
		<div class="container">
			<header class="major special">
				<h2>Largest of superhero</h2>
				<p>A great feugiat sed lorem ipsum</p>
			</header>
			<div class="feature-grid">
				<div class="feature">
					<div class="image rounded">
						<img th:src="@{/resources/images/pic04.jpg}" alt="" />
					</div>
					<div class="content">
						<header>
							<h4>Lorem ipsum</h4>
							<p>Lorem ipsum carrots</p>
						</header>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Of
							denouncing the whole, and the labors, that he is bound, from
							whence they know not the main weakness of the whole matter of.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image rounded">
						<img th:src="@{/resources/images/pic05.jpg}" alt="" />
					</div>
					<div class="content">
						<header>
							<h4>no one accepted</h4>
							<p>By reason of our ancestors from the, well-being</p>
						</header>
						<p>Effeminacy of the soul to the choice of a fault in the
							explication thereof. At other times the pain of the fault of the
							least painful. The pains of a, so that the flight of our
							ancestors been blinded by the flattery of her, but the pain was
							to open the.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image rounded">
						<img th:src="@{/resources/images/pic06.jpg}" alt="" />
					</div>
					<div class="content">
						<header>
							<h4>thanks runs</h4>
							<p>Hence we can find fault with these symptoms from a</p>
						</header>
						<p>The great inventor regular runs extremely easy it is
							advantageous, as the eu is not a luxurious life, she was born to
							do.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image rounded">
						<img th:src="@{/resources/images/pic07.jpg}" alt="" />
					</div>
					<div class="content">
						<header>
							<h4>any further</h4>
							<p>Asking welcome the result will be a laborious</p>
						</header>
						<p>Of their life are from which, however, the labor of the
							pleasure from, something similar has been blinded by the law of
							the consequences of this, or of the body of pain was born here in
							the explorer of the! but further.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Four -->
	<section id="four" class="wrapper style3 special">
		<div class="container">
			<header class="major">
				<h2>Aeneas element Reserved</h2>
				<p>A great feugiat sed lorem ipsum</p>
			</header>
			<ul class="actions">
				<li><a href="#" class="button special big">Get in touch</a></li>
			</ul>
		</div>
	</section>

	<!-- Footer -->
	<footer th:substituteby="/partials/footer" />


</body>
</html>