<!-- footer section start here -->
<footer id="footer">
	<div class="container">
		<ul class="icons">
			<li><a href="#" class="icon fa-facebook"></a></li>
			<li><a href="#" class="icon fa-twitter"></a></li>
			<li><a href="#" class="icon fa-instagram"></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; Untitled</li>
			<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
			<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/skel.min.js}"></script>
<script th:src="@{/resources/js/util.js}"></script>
<script th:src="@{/resources/js/main.js}"></script>

<!-- footer section end here -->

