<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="base.bobvic.controller*" />  <!-- controller Mappping for the start -->
	
	<!-- For MultiPart File  -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000" />
	</bean>

	<!-- hibernate************************************************************** -->
	<context:component-scan base-package="base.bobvic.*"/>
	<context:property-placeholder location="classpath:database.properties"/>
	<import resource="appconfig-mvc.xml"/>


	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/portal" />
	</bean> -->

	<import resource="db-config.xml" />
	<!--  -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/common.properties</value>
			</list>
		</property>
	</bean>
</beans>